body{
    background-color: #141530;
}

body h1 {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: auto;
    color: white;
    font-weight: bold;
}

p {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

body section form{
    display:flex;
    text-align: left;
    flex-direction:column;
    margin: auto;
    gap: 10px;
    width: 300px;
}

body section #em{
    height: 25px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

body section #pas{
    height: 25px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

body section #log{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #496C99;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

.content {
    border-radius: 10px;        
    background: #3b3c58;       
    max-width: 400px;         
    margin: auto;         
    padding-bottom: 30px;
}