body{
    background-color: #141530;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 0 auto;
    color: white;
    padding-bottom: 0; 
}

.error {
    padding-top: 15px;
    color: white;
}

.success {
    padding-top: 15px;
    color: white;
}

.acc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
    margin: 0 auto;
}

.usern, .pic {
    border-radius: 10px;         
    background: #3b3c58;      
    width: 80%;          
    margin: 0 auto;        
    padding: 30px;
}

p {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.usern #user{
    height: 25px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}

body section form{
    display:flex;
    flex-direction:column;
    margin: auto;
    gap: 10px;
    width: 300px;
}

body section #conf, .button {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #496C99;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

body section .btn {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #496C99;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    align-self: center;
}

input[type="file"] {
    margin-bottom: 20px;
    width: 100%;
    color: white;
}

img {
    object-fit: cover; 
}

.pic label {
    color: white;
    display: block;
    margin-bottom: 10px;
}